body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.containerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  background-color: white;
  width: 25%;
  height: 450px;
  overflow: hidden;
}

.cart img {
  -o-object-position: center;
     object-position: center;
  width: 323px;
  height: 242px;
}

.cart .backgroundContent {
  position: relative;
  background: white;
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
}

.cart .backgroundContent .box {
  top: -27px;
  z-index: 1;
  position: absolute;
  background: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.cart .backgroundContent .content {
  background: white;
  margin: 20px;
  -webkit-transform: translateY(42px);
          transform: translateY(42px);
}

.cart .backgroundContent .content .doggy {
  margin: 0 auto;
  font-weight: bold;
  font-size: xx-large;
}

.cart .backgroundContent .content .doggyDescr {
  color: red;
  font-size: x-large;
  margin-top: 10px;
}

.cart .containerElem {
  z-index: 1;
  background: white;
  padding: 20px;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  -o-object-position: center;
     object-position: center;
}

.cart .containerElem .elements {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.animationFade {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: white;
  border: 3px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.animationFade:hover {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: black;
  background-color: white;
}

.animationSize {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: white;
  border: 3px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.animationSize:hover {
  color: black;
  background-color: white;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.animationDodge {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: white;
  border: 3px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.animationDodge:hover {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: black;
  background-color: white;
  -webkit-transform: translateX(7em);
          transform: translateX(7em);
}
/*# sourceMappingURL=style.css.map */