body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.containerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  position: relative;
  background-color: white;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 450px;
  overflow: hidden;
  margin-top: 15vh;
}

.cart:hover {
  -webkit-box-shadow: 0 0 2vh white;
          box-shadow: 0 0 2vh white;
}

.cart:hover img {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 75%;
}

.cart:hover .backgroundContent {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: translateY(-122px);
          transform: translateY(-122px);
}

.cart .day {
  position: absolute;
  z-index: 1;
  border: 0;
  background-color: red;
  border-radius: 60%;
  padding: 2vh;
  width: 10%;
  right: 2vh;
  top: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
}

.cart img {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -o-object-position: center;
     object-position: center;
  width: 323px;
  height: 242px;
}

.cart .backgroundContent {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  position: relative;
  background: white;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.cart .backgroundContent:hover {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: translateY(-122px);
          transform: translateY(-122px);
}

.cart .backgroundContent .box {
  top: -27px;
  z-index: 1;
  position: absolute;
  background: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.cart .backgroundContent .content {
  background: white;
  margin: 20px;
  -webkit-transform: translateY(36px);
          transform: translateY(36px);
}

.cart .backgroundContent .content .doggy {
  margin: 0 auto;
  font-weight: bold;
  font-size: xx-large;
}

.cart .backgroundContent .content .doggyDescr {
  color: red;
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 0;
}

.cart .backgroundContent .content p {
  margin-top: 0;
}

.cart .containerElem {
  z-index: 1;
  background: white;
  padding: 29px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -o-object-position: center;
     object-position: center;
}

.cart .containerElem .elements {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.animationFade {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: white;
  border: 3px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.animationFade:hover {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: black;
  background-color: white;
}

.animationSize {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: white;
  border: 3px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.animationSize:hover {
  color: black;
  background-color: white;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.animationDodge {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: white;
  border: 3px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.animationDodge:hover {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: black;
  background-color: white;
  -webkit-transform: translateX(7em);
          transform: translateX(7em);
}

@media screen and (max-width: 900px) {
  .containerAll {
    margin-top: 8vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */