// MIXIN

@mixin transition($duration,$timing) {

    transition-duration: $duration;
    transition-timing-function: $timing; 
}

@mixin boxBase {

    color: white;
    border: 3px solid white;
    width: fit-content;
    padding: 10px;
    font:
    {
        family: Arial, Helvetica, sans-serif;
        weight:bold;
    }
   
}

// SCSS

body
{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.containerAll
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// CARTE

.cart
{
    @include transition(0.7s,ease);
    position: relative;
    background-color: white;
    width: 25%;
    height: 450px;
    overflow: hidden;
    margin-top: 15vh;
    
    &:hover
    {
        box-shadow: 0 0 2vh white;
        //filter: drop-shadow(1.5vh 0.5vh 5px white);
        img
        {   
            @include transition(0.7s,ease);
            transform: scale(1.5);
            opacity: 75%;
        }

        .backgroundContent
        {
            @include transition(0.7s,ease);
            transform: translateY(-122px);
        }
        
    }
   
    .day
    {
        position: absolute;
        z-index: 1;
        border: 0;
        background-color: red;
        border-radius: 60%;
        padding: 2vh;
        width: 10%;
        right: 2vh;
        top:2vh;
        align-items: center;
        color: white;
        font-weight: bold;
    }

    img
    {
        @include transition(0.7s,ease);
        object-position: center;
        width: 323px;
        height: 242px;        
    }
   
    .backgroundContent
    {
        @include transition(0.7s,ease);
        position:relative;
        background:white;
        transform: translateY(-5px);
        &:hover
        {
            @include transition(0.7s,ease);
            transform: translateY(-122px);
        }

        .box
        {
            top:-27px;
            z-index: 1;
            position:absolute;
            background:red;
            width: fit-content;
            padding: 10px;
            font-weight: bold;
            color: white;
        }

        .content 
    {       
        background:white;
        margin: 20px;
        transform: translateY(36px);
       
        .doggy
        {
            margin: 0 auto;
            font:
            {
                weight: bold;
                size: xx-large;
            }
        }
       
        .doggyDescr
        {
            color:red;
            font-size: x-large;
            margin-top: 10px;
            margin-bottom: 0;
        }
        p
        {
            margin-top: 0;
        }
    }
    }    
    
    .containerElem
    {
        z-index: 1;
        background: white;
        padding: 29px;
        transform: translateY(-100px);
        object-position: center;
       
        .elements
        {            
            background: white;
            display: flex;
            justify-content: space-around;
        }
    }
    
}



// ANIMATIONS

.animationFade
{
    @include transition(0.7s, ease);
    @include boxBase;
    &:hover
    {
        @include transition(0.7s, ease);
        color:black;
        background-color: white;
    }       
}

.animationSize
{
    @include transition(0.7s, ease);
    @include boxBase;
    &:hover
    {
        
        color:black;
        background-color: white;
        transform: scale(1.5);
        @include transition(0.7s, ease);

    }     
}

.animationDodge
{
    @include transition(0.7s, ease);
    @include boxBase;
    &:hover
    {
        @include transition(0.7s, ease);
        color:black;
        background-color: white;
        transform: translateX(7em);
    }     
}